.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.border-check {
  border-radius: 0.6rem;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.color-one{
    color: #FFFFFF;
}

.color-two{
    color: #b3b3b3;
}

.bg-one{
    background-color: #121212;
}

.bg-two{
  background-color: #1f1f1f;
}

/* Customize the scrollbar */
::-webkit-scrollbar {
  width: 12px;               /* Width of the scrollbar */
  height: 12px;              /* Height of the scrollbar (for horizontal scrollbars) */
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #333;          /* Dark background color */
}

/* Handle (the part you can drag) */
::-webkit-scrollbar-thumb {
  background: #555;          /* Darker color for the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777;          /* Slightly lighter color on hover */
}
